---
export interface Props {
  title: string;
  body: string;
  href: string;
  description?: string;
}

const { href, title, body, description } = Astro.props;
---

<li class="link-card">
  <a href={href}>
    <h2>
      {title}
      <span>&rarr;</span>
    </h2>
    <p>
      {body}
    </p>
    {description && <p>{description}</p>}
  </a>
</li>
